.salesContainer {
    .sale {
      padding: 8px;
      margin-top: 2rem;
  
      h1 {
        color: var(--white-color);
        text-align: center;
        padding: 2rem;
        font-size: 3rem;
      }
      
    }
  }
  